version: "3.8"
name: clicker-core-backend-infrastructure
services:
    postgresql:
      image: postgres:16.1-alpine3.19
      networks:
        - default
      environment:
        POSTGRES_PASSWORD: root
        POSTGRES_USER: admin
        POSTGRES_DB: database
      ports:
        - "5432:5432"

    redis:
      image: redis
      networks:
        - default
      ports:
        - "6379:6379"
