<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clicker</title>
    <link rel="stylesheet" href="/css/clicker_styles.css">
</head>
<body>
<div id="menu-icon">
    <a href="/ui/users/me/profile">
        <button>
            <img src="/images/menu-icon-2.png" alt="Menu" style="width: 30px; height: 30px;">
        </button>
    </a>
</div>
<div id="dynamic-content">
    <h1>TipTap</h1>
    <p id="clickCount">0/1000</p>
    <button id="clickerButton" class="button">TAP</button>
    <p id="probability">100%</p>
</div>
<script src="/js/clicker_scripts.js"></script>
<script src="/js/csrf_scripts.js"></script>
</body>
</html>
