<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/user_forms_styles.css">
</head>
<body>

<form id="loginForm" th:method="POST" th:action="@{/api/login}">
    <p>Logging in TipTap</p>

    <label>
        <input type="email" name="email" placeholder="Enter your email" required />
    </label>

    <label>
        <input type="password" name="password" placeholder="Enter your password" required />
    </label>

    <button type="submit">Login</button>
</form>
<label>
    <a href="/ui/password-recovery">Forgot pass?</a>
</label>

<div id="error-message" style="color: red; margin-top: 10px;"></div>

<script src="/js/login_scripts.js"></script>

</body>
</html>
