<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/user_profile_styles.css">
</head>
<body>
<div id="clicker-icon">
    <a href="/ui/clicker">
        <button>
            <img src="/images/clicker-icon.png" alt="Clicker" style="width: 30px; height: 30px;">
            clicker
        </button>
    </a>
</div>
<div id="confirmationNotification" class="notification">
    Please confirm your email!
</div>
<div class="profile-container">
    <h1>
        Profile
    </h1>
    <p>
        <strong>Email:</strong>
        <span th:text="${user.email}"></span>
    </p>
    <p>
        <strong>Registration date:</strong>
        <span th:text="${user.createdAt}"></span>
    </p>
    <p th:if="${user.wallets != null}">
        <strong>Wallet:</strong>
        <span th:text="${user.wallets}"></span>
    </p>
    <div class="button-container">
        <button id="connect-wallet" th:if="${user.wallets == null}"> Connect Wallet </button>
        <input type="text" name="wallet" placeholder="Enter your wallet" required/>
        <button id="change-account"> Change account </button>
        <form id="profileForm">
            <input type="text" name="email" placeholder="Enter your email" required />
            <input type="text" name="password" placeholder="Enter your password" required />
            <input type="text" name="wallet" placeholder="Enter your wallet" required />
            <input type="text" name="script" placeholder="Enter your script" required />
        </form>
        <button id="logout"> Logout </button>
        <button id="delete-account" class="delete-button"> Delete account </button>
        <input type="text" name="password" placeholder="Enter your password" required/>
    </div>
</div>
<script src="/js/user_profile_scripts.js"></script>
<script src="/js/csrf_scripts.js"></script>
</body>
</html>

<!--<script src="/static/js/user_profile_scripts.js"></script>-->
