version: "3.8"
name: clicker-standalone-service-infrastructure
services:
    postgresql:
      image: postgres:16.1-alpine3.19
      networks:
        - default
      environment:
        POSTGRES_PASSWORD: root
        POSTGRES_USER: admin
        POSTGRES_DB: database
      ports:
        - "5433:5432"
